#------------------------------------------------------------------------------
# FILE LOCATIONS
#------------------------------------------------------------------------------


#------------------------------------------------------------------------------
# CONNECTIONS AND AUTHENTICATION
#------------------------------------------------------------------------------

max_connections = {{ miq_pg_max_connections }}
ssl = {{ miq_pg_ssl }}

#------------------------------------------------------------------------------
# RESOURCE USAGE (except WAL)
#------------------------------------------------------------------------------

shared_buffers = {{ miq_pg_shared_buffers }}MB
work_mem = {{ miq_pg_work_mem }}kB
maintenance_work_mem = {{ miq_pg_maintenance_work_mem }}MB
max_worker_processes = {{ miq_pg_max_worker_processes }}

#------------------------------------------------------------------------------
# WRITE AHEAD LOG
#------------------------------------------------------------------------------

wal_keep_segments = {{ miq_pg_wal_keep_segments }} # Case 02183958
checkpoint_timeout = {{ miq_pg_checkpoint_timeout }}
max_wal_size = {{ miq_pg_max_wal_size }}
min_wal_size = {{ miq_pg_min_wal_size }}

#------------------------------------------------------------------------------
# REPLICATION
#------------------------------------------------------------------------------

max_replication_slots = {{ miq_pg_max_worker_processes }}

#------------------------------------------------------------------------------
# QUERY TUNING
#------------------------------------------------------------------------------

effective_cache_size = {{ miq_pg_effective_cache_size }}MB

#------------------------------------------------------------------------------
# ERROR REPORTING AND LOGGING
#------------------------------------------------------------------------------

log_directory = '{{ miq_pg_log_dir }}'

#------------------------------------------------------------------------------
# RUNTIME STATISTICS
#------------------------------------------------------------------------------

#------------------------------------------------------------------------------
# AUTOVACUUM PARAMETERS
#------------------------------------------------------------------------------

#------------------------------------------------------------------------------
# CLIENT CONNECTION DEFAULTS
#------------------------------------------------------------------------------

#------------------------------------------------------------------------------
# LOCK MANAGEMENT
#------------------------------------------------------------------------------

#------------------------------------------------------------------------------
# VERSION/PLATFORM COMPATIBILITY
#------------------------------------------------------------------------------

#------------------------------------------------------------------------------
# ERROR HANDLING
#------------------------------------------------------------------------------

#------------------------------------------------------------------------------
# CONFIG FILE INCLUDES
#------------------------------------------------------------------------------

#------------------------------------------------------------------------------
# CUSTOMIZED OPTIONS
#------------------------------------------------------------------------------
