[domain/{{ miq_ldap_domain }}]

autofs_provider = ldap
ldap_schema = AD
ldap_search_base = {{ miq_ldap_base_dn }}
id_provider = ldap
auth_provider = ldap
chpass_provider = ldap
ldap_uri = {{ miq_ldap_uri }}
ldap_id_use_start_tls = false
cache_credentials = true
ldap_tls_cacertdir = /etc/openldap/cacerts/
entry_cache_timeout = 600
ldap_auth_disable_tls_never_use_in_production = true
ldap_default_bind_dn = {{ miq_ldap_bind_dn }}
ldap_default_authtok = {{ miq_ldap_bind_password }}
ldap_group_search_base = {{ miq_ldap_group_search_base }}
ldap_network_timeout = 3
ldap_pwd_policy = none
ldap_user_extra_attrs = mail, givenname, sn, displayname, domainname
ldap_user_search_base = {{ miq_ldap_user_search_base }}

#
# tunables for large directories
#

# use ldap_id_mapping to map AD SIDs to SSSD generated IDs
# NOTE: only for non-POSIX LDAP (e.g. AD)
ldap_referrals = false
ldap_id_mapping = true
ignore_group_members = true

[sssd]
services = nss, pam, ifp
domains = {{ miq_ldap_domain }}
config_file_version = 2
default_domain_suffix = {{ miq_ldap_domain }}
sbus_timeout = 30

[nss]
homedir_substring = /home

[pam]

[sudo]

[autofs]

[ssh]

[pac]

[ifp]
allowed_uids = apache, root
user_attributes = +mail, +givenname, +sn, +displayname, +domainname

[secrets]
