
LoadModule authnz_pam_module modules/mod_authnz_pam.so
LoadModule intercept_form_submit_module modules/mod_intercept_form_submit.so
LoadModule lookup_identity_module modules/mod_lookup_identity.so
LoadModule auth_kerb_module modules/mod_auth_kerb.so

<Location /dashboard/kerberos_authenticate>
  AuthType           Kerberos
  AuthName           "Kerberos Login"
  KrbMethodNegotiate On
  KrbMethodK5Passwd  Off
  KrbAuthRealms      {{ miq_ldap_domain }}
  Krb5KeyTab         /etc/http.keytab
  Require            pam-account httpd-auth

  ErrorDocument 401 /proxy_pages/invalid_sso_credentials.js
</Location>

<Location /dashboard/external_authenticate>
  InterceptFormPAMService httpd-auth
  InterceptFormLogin      user_name
  InterceptFormPassword   user_password
  InterceptFormLoginSkip  admin
  InterceptFormClearRemoteUserForSkipped on
</Location>

<LocationMatch ^/dashboard/external_authenticate$|^/dashboard/kerberos_authenticate$>
  LookupUserAttr mail        REMOTE_USER_EMAIL
  LookupUserAttr givenname   REMOTE_USER_FIRSTNAME
  LookupUserAttr sn          REMOTE_USER_LASTNAME
  LookupUserAttr displayname REMOTE_USER_FULLNAME
  LookupUserAttr domainname  REMOTE_USER_DOMAIN

  LookupUserGroups           REMOTE_USER_GROUPS ":"
  LookupDbusTimeout          5000

</LocationMatch>


<LocationMatch ^/api|^/vmdbws/wsdl|^/vmdbws/api>
  SetEnvIf Authorization '^Basic +YWRtaW46' let_admin_in
  SetEnvIf X-Auth-Token  '^.+$'             let_api_token_in
  SetEnvIf X-MIQ-Token   '^.+$'             let_sys_token_in

  AuthType Basic
  AuthName "External Authentication (httpd) for API"
  AuthBasicProvider PAM

  AuthPAMService httpd-auth
  Require        valid-user
  Order          Allow,Deny
  Allow from env=let_admin_in
  Allow from env=let_api_token_in
  Allow from env=let_sys_token_in
  Satisfy Any

  LookupUserAttr mail        REMOTE_USER_EMAIL
  LookupUserAttr givenname   REMOTE_USER_FIRSTNAME
  LookupUserAttr sn          REMOTE_USER_LASTNAME
  LookupUserAttr displayname REMOTE_USER_FULLNAME
  LookupUserAttr domainname  REMOTE_USER_DOMAIN

  LookupUserGroups           REMOTE_USER_GROUPS ":"
  LookupDbusTimeout          5000

</LocationMatch>
