---
# protected vars can be vaulted in this file
{% if miq_admin_password is defined %}
miq_vmdb_password:           '{{ miq_vmdb_password }}'
{% endif %}
{% if miq_admin_password is defined %}
miq_admin_password:          '{{ miq_admin_password }}'
{% endif %}
{% if miq_appliance_root_password is defined %}
miq_appliance_root_password: '{{ miq_appliance_root_password }}'
{% endif %}
{% if ansible_ssh_pass is defined %}
ansible_ssh_pass:            '{{ ansible_ssh_pass }}'
{% endif %}
