---
# BEGIN REQUIRED VARS ==================================================================================================
#
#   You must update these variables for the playbook to work.  See README.md for a description.
#
#   The below variables include an example of their expected format:
#
#     miq_region_number: 1                           any integer between 1 and 999
#     miq_vmdb_type:     'shared'                    'shared' or 'standalone'
#     miq_vmdb_target:   'primary-vmdb.example.com'  the FQDN of the primary database for the region
#
miq_region_number:        {{ miq_region_number }}
miq_vmdb_type:            '{{ miq_vmdb_type }}'
{% if miq_vmdb_target is defined %}
miq_vmdb_target:          '{{ miq_vmdb_target }}'
{% else %}
miq_vmdb_target:          'primary-vmdb.example.com'
{% endif %}
miq_vmdb_disk:            '{{ miq_vmdb_disk }}'

# END REQUIRED VARS ====================================================================================================

# BEGIN RECOMMENDED VARS ===============================================================================================
#
#   The following are recommended to be updated, but are not required.  Generally, these variables have a
#   default value which is sufficient for deployment.  See README.md for a description.
#
#   The below variables include an example of their expected format:
#
#     miq_region_type: 'remote'  'global' (replicated copy/global region) or 'remote' (subordinate or child region)
#
#   C&U DATA COLLECTION:
#   Enablement of data collection on hosts/clusters/datastores for a region:
#     miq_cu_collection_clusters_enabled: true
#     miq_cu_collection_storages_enabled: true
#
miq_region_type: '{{ miq_region_type }}'
{% if miq_region_type == 'global' %}
miq_cu_collection_clusters_enabled: false
miq_cu_collection_storages_enabled: false
{% else %}
miq_cu_collection_clusters_enabled: true
miq_cu_collection_storages_enabled: true
{% endif %}

# END RECOMMENDED VARS =================================================================================================

# BEGIN OPTIONAL VARS ==================================================================================================
#
#   The following are optional and generally for advanced deployments/configurations. See README.md for a description.
#
#   The below variables include an example of their expected format:
#
#   NTP SETTINGS:
#   A list of NTP servers
#     miq_ntp_servers:
#       - '10.10.10.10'
#       - '10.10.10.11'
#       - '10.10.10.12'
#
#   SMTP_SETTINGS:
#   A dict of SMTP settings
#     miq_smtp_settings:
#       authentication:       'none'
#       domain:               "omaha.mycompany.com"
#       from:                 'svc.cloudforms@omaha.mycompany.com'
#       host:                 'mail.omaha.mycompany.com'
#       port:                 25
#       username:             'svc.cloudforms'
#       enable_starttls_auto: false
#       openssl_verify_mode:  'none'
#
# ======================================================================================================================
#
#miq_ntp_servers:
#  -
#miq_smtp_settings:
#  authentication:
#  domain:
#  from:
#  host:
#  port:
#  username:
#  enable_starttls_auto:
#  openssl_verify_mode:

# END OPTIONAL VARS ====================================================================================================
